body {
    background-color: rgb(0, 0, 0);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: rgb(240, 239, 239);
    }

    

    section {
        padding: 0 32px;
    }


    .container {
        padding: 80px 0;
    }

    

    .row {
        display: flex;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }


    h1 {
        font-size: 88px;
        line-height: 100%;
        font-weight: 600;
    }

    p {
        padding-top: 24px;
        display: none;
    }



    

    .nav__container {
        padding-top: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav__row {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }


    .logo__main {
        height: 56px;
    }


    .nav__links {
        list-style: none;
        display: flex;
        align-items: center;
    }

    .nav__link {
        color: white;
        font-size: 20px;
        padding-left: 32px;

    }

    .nav__link:hover {
        color: brown;
    }


    li {
        color: white;
    }

    button {
        color: white;
        background-color: rgb(156, 5, 5);
        padding: 8px 32px;
        font-size: 20px;
        font-weight: bold;
        border: none;
        border-radius: 2px;
    }

    .button {
        padding-top: 32px;
    }


    .red {
        color: rgb(156, 5, 5);
    }


    /* HEADER  */


    header {
        height: 100vh;
        align-content: center;

    }

    .header__container {
        padding-bottom: 333px;
    }




    .header__text {
        width: 66%;
    }

    
    
    .header__description {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        padding-right: 32px;
    }

    .header__icon {
        color: rgb(246, 238, 238);
        font-size: 240px;
        align-content: end;
    }

    
    .header__icon--wrapper {
        display: flex;
        width: 33%;
        justify-content: end;
        
    }

    
    

    /*    EXPERIMENTAL */
    
    

   
   

    