body {
    background-color: rgb(0, 0, 0);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
    text-decoration: none;
    color: white;
    }

    section {
        padding: 0 32px;
    }


    .container {
        padding: 80px 0;
    }


    h1 {
        font-size: 64px;
    }



    .logo__text {
        font-size: 64px;
        font-weight: 200;
        color: white;
        font-family: roboto;
    }

    .nav__container {
        padding-top: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav__links {
        list-style: none;
        display: flex;
        align-items: center;
        padding-right: 32px;
    }

    .nav__link {
        color: white;
        font-size: 32px;
        font-weight: 600;
        padding-left: 64px;

    }


    li {
        color: white;
    }

